
.vs/Someren1819/v16/.suo
SomerenDAL/obj/Debug/SomerenDAL.csprojAssemblyReference.cache
SomerenLogic/obj/Debug/SomerenLogic.csprojAssemblyReference.cache
SomerenModel/obj/Debug/SomerenModel.csprojAssemblyReference.cache
SomerenUI/obj/Debug/SomerenUI.csprojAssemblyReference.cache
