

.vs/Someren1819/v16/.suo
SomerenDAL/obj/Debug/SomerenDAL.csprojAssemblyReference.cache
SomerenLogic/obj/Debug/SomerenLogic.csprojAssemblyReference.cache
SomerenModel/obj/Debug/SomerenModel.csprojAssemblyReference.cache
SomerenUI/obj/Debug/SomerenUI.csprojAssemblyReference.cache

*.lock
*.ide
*.ide-shm
*.ide-wal




.vs/Someren1819/v16/Server/sqlite3/db.lock
.vs/Someren1819/v16/Server/sqlite3/storage.ide-shm
.vs/Someren1819/v16/Server/sqlite3/storage.ide-wal
*.cache




*.cache
*.cache
*.Cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
*.cache
*.Cache
*.Cache
*.cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
SomerenUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
SomerenLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
SomerenDAL/bin/Debug/SomerenDAL.pdb
SomerenDAL/bin/Debug/SomerenDAL.pdb
SomerenDAL/bin/Debug/SomerenDAL.dll
SomerenDAL/bin/Debug/SomerenDAL.pdb
SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
