<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ChapooDatabase" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=dbchapoo11;User ID=dbchapoo11;Password=Vr9kL1?2Wj~9"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
